p = link_to :search,    new_search_path
p = link_to :routes,   admin_routes_path
p = link_to :stations, admin_railway_stations_path
p = link_to :trains,   admin_trains_path
p = link_to :carriages, admin_carriages_path
